body{
  padding: 0;
  margin: 0;
}
.about::before {
    content: '';
    width: 100%;
    height: 50vh;
    background-image: url(https://images.unsplash.com/photo-1495679107927-a152a875c83f?q=80&w=1770&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover; /* Adjust as needed */
    background-position: center; /* Adjust as needed */
  }
  
  .contact::before{
    content: '';
    width: 100%;
    height: 50vh;
    background-image: url(https://images.unsplash.com/photo-1496124248071-3e497bb1696c?q=80&w=1847&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover; /* Adjust as needed */
    background-position: center; /* Adjust as needed */
  }
  .profileImage{
    width: 50%;
    border-radius: 50%;
    height: 0;
  }
  .profileImage:hover{
    box-shadow: 0 0 15px rgba(0, 255, 162, 0.7);
  }
  .story{
    top: 35%;
  }
  
  .counter::before{
    position: absolute;
    content: '';
    bottom: -2rem;
    left: 50%;
    width: 20%;
    height: .2rem;
    background: black;
    margin-bottom:1%;
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
  }
  
  .contentFromCustomer{
    margin-right: 1%;
    border: 1px solid #e0e0e0;
    color: #463c3c;
  }
  
  .contentFromCustomerTx{
    width: 99%;
    border: 1px solid #e0e0e0;
    color: #463c3c;
  }
  
  /* .register{
    background-image: url(https://images.unsplash.com/photo-1608402772686-2d1726f45d7c?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MzI4fHxoZCUyMGltYWdlc3xlbnwwfHwwfHx8MA%3D%3D);
    background-repeat: no-repeat;
    background-size: cover;
  } */
  
  .formed{
    backdrop-filter: blur(30px);
  }
  
  /* .login{
    background-image: url(https://images.unsplash.com/photo-1547891654-e66ed7ebb968?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDIwfHx8ZW58MHx8fHx8);
    background-repeat: no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  } */
  
  .link {
    transition: margin-left 0.2s, margin-right 0.2s, margin-top 0.2s, margin-bottom 0.2s;
  }
  
  /* Set transition effect on hover */
  .link:hover {
    margin-left: 8px;
    margin-right: -8px;
    margin-top: -8px;
    margin-bottom: 8px;
  }
  
  .borders{
    border: 2px dashed rgb(165, 160, 160);
  }
  
  .hrTag{
    border-color: white ;
  }
  
  .parent{
    transition: 2s 1s ease-in-out;
  }
  
  .parent:hover{
    transform: translateY(300px);
  }
  
  /* register */
  .card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 0.5rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
    }
    .card-registration .select-arrow {
    top: 13px;
    }
  .form-control:focus {
    box-shadow: 0px 0px 0px 4px rgba(113, 175, 241, 0.5);
    border: 4px solid rgba(113, 175, 241, 0.5);
  }
  /*Products*/
  .swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .productProfile{
    display: block;
  }
  .profileCarousel{
    display: none;
  }
  .productTop:hover{
    
    .productProfile{
      display: none;
    }
    .profileCarousel{
      display: block;
    }
  }
  /* login */
  .loginImage{
    background: url("https://images.unsplash.com/photo-1706186454327-2ffb17ea3cd9?q=80&w=1771&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .overlay{
    background-color: rgba(0, 0, 0, 0.779);
  }
  
  /* profile */
  .emp-profile{
    padding: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 0.5rem;
    background: #fff;
  }
  .profile-img .file {
    position: relative;
    overflow: hidden;
    margin-top: -31%;
    width: 100%;
    border: none;
    border-radius: 0;
    font-size: 15px;
    background: #212529b8;
  }
  .profile-img .file input {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
  }
  .profile-head h5{
    color: #333;
  }
  .profile-head h6{
    color: #0062cc;
  }
  .profile-edit-btn{
    font-weight: 600;
    color: #4f565c;
  }
  .nav-tabs{
    margin-bottom:5%;
  }
  .profile-head .nav-tabs .nav-link{
    font-weight:600;
    border: none;
  }
  .profile-head .nav-tabs .nav-link.active{
    border: none;
    border-bottom:2px solid #0062cc;
  }
  .profile-work p{
    color: #818182;
    font-weight: 600;
  }
  .profile-work ul{
    list-style: none;
  }
  .order-tab label{
    font-weight: 600;
  }
  .order-tab p{
    font-weight: 600;
    color: #0062cc;
  }

  @media (max-width: 767.98px) {
    #bdSidebar {
        width: 50%;
    }
}

/* Product Info */
.add-to-cart .btn-qty {
  width: 52px;
  height: 46px;
}
.add-to-cart .btn { border-radius: 0; }

.image-container {
  position: relative;
  overflow: hidden;
  height: 50%;
  width: 59%;
}

.image-container img {
  transition: transform 0.5s ease;
  aspect-ratio: 3/3;
}

.image-container img.zoomed {
  transform: scale(2.0); /* Adjust the scale factor for zoom level */
}
#productImg{
  height: 400px;
}
@media (max-width: 767.98px){
  #productImg{
    height: 240px;
    width: 250px;
  }   
  /* #productImgs{
    margin-left: 10%;
  } */
}
@media (max-width: 400px){
  #carousel{
    max-height: 29.5vh;
  }
}
@media (max-width: 540.98px){
  #carousel{
    max-height: 38vh;
  }
}
@media (max-width: 767.98px){
  #carousel{
    max-height: 53vh;
  }
}

.hidden {
  opacity: 0;
  height: 0;
  padding: 0;
  margin: 0;
  transition: opacity 0.3s ease, height 0.3s ease, padding 0.3s ease, margin 0.3s ease;
}

/*CAtegories*/
.homecat_wrapper {
  padding: 100px 0 65px
}

.catbox {
  position: relative
}

.catbox figure {
  position: relative;
  padding-top: 59%;
  overflow: hidden
}

.catbox a {
  display: block
}

.catbox figure img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: all .6s ease 0s
}

.catbox figure:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .35)
}

.catbox:hover figure img {
  -webkit-transform: scale(1.05);
  transform: scale(1.05)
}

.cathover {
  position: absolute;
  z-index: 1;
  left: 10px;
  top: 10px;
  right: 10px;
  bottom: 10px;
  border: 1px solid rgba(255, 255, 255, .37);
  transition: all .5s ease 0s
}

.cathinner {
  position: absolute;
  left: 10px;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: #fff
}

.cattitle {
  font-family: futura_bk_btbook;
  margin: 0
}

.cattitle span {
  font-size: 38px;
  text-transform: uppercase;
  letter-spacing: 8px;
  padding: 7px 27px;
  border: 1px solid rgba(255, 255, 255, .37);
  line-height: 100%
}

.cathinner p {
  font-family: futura_bk_btbook;
  font-size: 20px;
  margin: 20px 0 0;
  letter-spacing: 8px;
  transition: all .5s ease 0s;
  text-transform: uppercase;
  display: none
}

.catbox:hover .cathover {
  background-color: rgba(0, 0, 0, .55)
}

.catbox:hover .cathinner p {
  display: block
}

.catbox:hover .cattitle span {
  border: none
}

.homecat_wrapper [class*=col-] {
  margin-bottom: 30px
}

.scrollto {
  position: absolute;
  z-index: 1;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #fff;
  bottom: 6%;
}

.scrollto span {
  display: block;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: #000;
  left: 50%;
  transform: translateX(-50%);
  top: 19px;
  position: absolute
}

.scrollto span:after {
  background-color: #656565;
  position: absolute;
  left: 49.8%;
  width: 1px;
  top: 100%;
  height: 37px;
  content: ""
}

.subscibe_section {
  position: relative
}

.foot_subscribe {
  width: auto;
  display: -webkit-flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap
}

.foot_subleft {
  -ms-flex: 0 0 540px;
  flex: 0 0 540px;
  padding-right: 55px;
  max-width: 540px;
  display: table-cell;
  vertical-align: middle
}

.subscribe_head {
  font-size: 50px;
  font-family: futura_bk_btbook;
  color: #0e0e0e;
  margin: 0 0 8px;
  line-height: 100%;
  letter-spacing: 4px
}

.foot_subleft p {
  font-size: 18px;
  font-family: futura_bk_btbook;
  color: #111;
  line-height: normal
}

.subright {
  flex: 1
}

.subform {
  position: relative;
  /* padding-right: 310px */
}

.subform input[type=email],
.subform input[type=text] {
  height: 68px;
  border: 1px solid #b3b3b3;
  padding: 7px 15px;
  color: #696969;
  font-size: 16px;
  background: #fff;
  -webkit-border-radius: 0;
  border-radius: 0
}

.subform input[type=email]:focus,
.subform input[type=text]:focus {
  border-color: #777
}

.subform input[type=email]::-webkit-input-placeholder,
.subform input[type=text]::-webkit-input-placeholder {
  opacity: 1;
  color: #696969
}

.subform input[type=email]:-moz-placeholder,
.subform input[type=text]:-moz-placeholder {
  opacity: 1;
  color: #696969
}

.subform input[type=email]::-moz-placeholder,
.subform input[type=text]::-moz-placeholder {
  opacity: 1;
  color: #696969
}

.subform input[type=email]:-ms-input-placeholder,
.subform input[type=text]:-ms-input-placeholder {
  opacity: 1;
  color: #696969
}

.subform button[type=submit] {
  height: 68px;
  line-height: 68px;
  border: 1px solid #a3a3a3;
  -webkit-border-radius: 0;
  border-radius: 0;
  background: #000;
  text-align: center;
  padding: 0 10px;
  color: #fff;
  font-weight: 400;
  font-size: 23px;
  position: absolute;
  z-index: 1;
  right: 0;
  top: 0;
  -webkit-transition: all .6s ease 0s;
  transition: all .6s ease 0s;
  min-width: 305px
}

.subform button[type=submit]:hover {
  background: #ccc;
  color: #000
}

.subform button[type=submit] i {
  margin-left: 12px;
  margin-right: 0;
  font-size: 120%;
  position: relative;
  top: -1px
}

.theme-btn,
button.theme-btn,
button[type=submit],
button[type=submit].theme-btn,
input[type=button].theme-btn,
input[type=reset].theme-btn,
input[type=submit] {
    background: #000;
    border: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    color: #fff;
    font-size: 15px;
    height: 40px;
    line-height: 40px;
    font-weight: 400;
    padding: 0 30px;
    text-align: center;
    outline: 0;
    display: inline-block;
    cursor: pointer;
    vertical-align: top;
    -moz-transition: all .4s ease-in-out 0s;
    -webkit-transition: all .4s ease-in-out 0s;
    transition: all .3s ease-in-out 0s
}

@media only screen and (max-width:767px){
  .cathover {
    left: 5px;
    top: 5px;
    right: 5px;
    bottom: 5px
}
.cathinner p {
    font-size: 12px;
    margin-top: 10px
}
.cattitle span {
    font-size: 15px
}
.foot_subleft{
   -ms-flex: 0 0 0;
  flex: 0 0 0;
  padding-right: 0;
}
}

